<ul>
    <% @items.each do |item| %>
        <li>
           <a href="/managers/<%= item.id%>">
            <%= item.name %>
           </a>
        </li>
    <% end %>
</ul>

<body>
    <%= link_to "Add item", new_manager_path%>
    <%= render "form", item: @item %>
</body>