<h1><% @item.name %></h1>

<p><%= @item.description %></p>
<p><%= @item.quantity %></p>

<ul>
    <li><%= link_to "Edit", edit_manager_path(@item) %></li>
    <li><%= link_to "Destroy", manager_path(@item), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }%></li>
</ul>